<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145604006667-jl23ts4s86e7ci60qs8gcngecfg99lh6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145604006667-jl23ts4s86e7ci60qs8gcngecfg99lh6</string>
	<key>API_KEY</key>
	<string>AIzaSyCzp_XLbRe0Mc7HUvpRhUMXZcIz8iLHHVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>145604006667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.tutorial</string>
	<key>PROJECT_ID</key>
	<string>flutterflow-a4c0e</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterflow-a4c0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145604006667:ios:d8d36067b1e6b8f3fdc80e</string>
</dict>
</plist>